body {
    font-family: Arial, sans-serif;
    background-color: orange;
    margin: 0;
    padding: 20px;
}
h1{
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px  300px 50px;
}

.gallery img {
    width: 30%; 
    margin-bottom: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
img:hover{
    transform: scale(1.1);
}